body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    height: 50px;
}

#defi-functions {
    display: flex;
    flex: 4;
    align-items: center;
    justify-content: left;
    padding-left: 2%;
}

.defi-nav {
    font-family: Andale Mono, monospace;
    padding-left: 40px;
    width: 120px;
}

#metamask {
    font-family: Helvetica, Verdana, Arial;
    display: flex;
    flex: 1;
    justify-content: right;
    padding-right: 2%;
}

#wallet_button {
    display: flex;
    width: 150px;
    height: 24px;
    justify-content: center;
    align-items: center;
    /* height: 24px;
    width: 93px; */
    padding: 12px;    
    border-style: solid;
    border: 2px solid black;
    border-radius: 5px;
}


#farm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;

}

.pool {
    height: 200px;
    width: 75%;
    padding: 25px;
    margin-top: 25px;

    border-style: solid;
    border: 2px solid black;
    border-radius: 5px;
}

.pool h2 {
    margin: 0px;
    font-family: Andale Mono, monospace;
}

.farm-UI h4 {
    font-family: Helvetica, Verdana, Arial;
}

.farm-UI {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75%;
}

.farm-stats {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
}

input[type="number"] {
    z-index: -1;
    width:  200px;
    top: 10px;
    left: 8px;
    font-size: 17px;
    color: #0a0a0a;
}

.approve {
    display: flex;
    justify-content: center;
    align-items: center;

    width:  200px;
    height: 30px;   
    margin-top: 20px;
    border-style: solid;
    border: 2px solid black;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: right;
    align-items: right;
    position: sticky;
    bottom: 0%;

    height: 42px;
    width: 99.5%;

    border: 3px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 1);
    z-index: 999999;
}

.footer div {
    display: flex;

    padding-right: 60px;
}